
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN Form Group -->
									<div class="form-group mb-0">
										<label for="exampleFormControlFile1">Stok Dosyasını Seçin</label>
										<input type="file" accept=".xlsx,.xls,.csv" class="form-control-file" id="exampleFormControlFile1">
									</div>
									<!-- END Form Group -->