<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 
 


</head>  

<body>
    <div class="content ">
        	<div   class="col-12 ">
                 <div class="dx-viewport demo-container">
                 <div id="gridContainer" class="colored-Grid" style="height:76vh;width:100% !important"></div>
                 </div>
           </div>
    </div>

</body>



  <</html>